.card {
    width: 400px;
    height: 300px;
    background-color: black;
    font-size: 20px;
    box-shadow: 0 0 1px 0 rgb(255, 255, 255);
    margin-top: 0;
    border-radius: 20px;

}

.card>img {

    width: 250px;
    height: 150px;
    border-radius: 20px;
    margin-left: 10px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3%;
    margin-top: 5%;
}

h1 {
    width: 20%;
    height: 10vh;
    display: flex;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 250, 254);
    box-shadow: 5px 10px 10px  rgb(217, 0, 255);
    margin: auto;
  margin-top: 10%;

    

}

.card>button {

    padding: 10px 15px;
    border-radius: 10%;
    background-color: rgb(145, 255, 0);
    border: none;
    margin-left: 30%;
    margin-top: 15%;

}
.card>p{
    margin-left: 25%;
    color: aliceblue;

}