

<h1> || Order Cakes || </h1>
<div class="container">
    
    <div class="card">
        <img src="card blueberry cake.jpg" alt="" width="250px">
        <p>
            Blue Berry Cake<br>
            350/KG</p>
        <button id="red">Order Now</button>
    </div>
    <div class="card">
        <img src="card butterscotch cake.jpg" alt="" width="250px">
        <p>
            Butter Scotch Cake<br>
            350/KG</p>
        <button id="red">Order Now</button>
    </div>
    <div class="card">
        <img src="card chocoate cake.jpg" alt="" width="250px">
        <p>
            Chocolate Cake <br>
            350/KG</p>
        <button id="red">Order Now</button>
    </div>
    <div class="card">
        <img src="card orange cake.jpg" alt="" width="250px">
        <p>
            Orange Cake <br>
            350/KG</p>
        <button id="red">Order Now</button>
    </div>
    <div class="card">
        <img src="card pista cake.jpg" alt="" width="250px">
        <p>
            Pista Cake <br>
            350/KG</p>
        <button id="red">Order Now</button>
    </div>
    
</div>