
h1{
    width: 20%;
    height: 10vh;
    display: flex;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 255, 229);
    box-shadow: 2px 3px 3px  rgb(0, 0, 0);
    border-top: 5px solid rgb(117, 0, 235);
    margin: auto;
    margin-top: 7%;
    margin-bottom:5%;
color: rgb(0, 0, 0);

}
.area{
    color: rgb(0, 0, 0);
}
p{
    margin-left: 7%;
    margin-right: 7%;
}