
h1{
    width: 20%;
    height: 10vh;
    display: flex;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    background-color: rgb(247, 75, 212);
    box-shadow: 5px 10px 10px  rgb(0, 0, 0);
    margin: auto;
    margin-top: 7%;
    margin-bottom:5%;
color: rgb(0, 0, 0);

}
.area{
    color: rgb(0, 0, 0);
}
p{
    margin-left: 7%;
    margin-right: 7%;
}